.header-brand-img{
    height: 70px;
    width: 70px;
    margin-top: -2px;
    margin-left: -10px;
}
.admin_card{
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.info_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.admin_name{
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 130px;
}
.type_account{
    font-weight: bold;
    font-size: 17px;
    padding-top: 15px;
    padding-left: 150px;
    color: #707070;
}
.admin_type{
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 150px;
    
}
.admin_img{
    border-radius: 100%;
    height: 100px;
    width: 90px;
    margin-top: -100px;
    margin-left: 20px;
}
.info{
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 30px;
}
.log{
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
    padding-left: 20px;
    color: #ED5252;
    padding-bottom: 10px;
}
.info_img{
    padding-right: 15px;

}
.header_img{
    width: 30px;
    height: 30px ;
    border-radius: 100%;
}
.ancien{
    margin-left: 139px;
}
.subtitle{
    letter-spacing: 0px;
    color: #554D89;
    opacity: 1;
    text-align: center;
}

.save{
    color: white;
  background-color:#554D89 ;
    margin-top: 35px;
    width: 300px;
    border-radius: 5px;
    height: 45px;
    font-size: 20px;
    margin-left: 300px;
}
#user_email{
    background-color: #F0F2F7;

}
#user_name{
    background-color: #F0F2F7;

}